<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--Css Style -->
    <link rel="stylesheet" href="{% static 'steamClone/css/template.css' %}" />
    <link rel="stylesheet" href="{% static 'steamClone/css/addstyle.css' %}" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <!--Font Link-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {% load static %}

    <!--TopBar == header-->
    <area class="TopBar-area" />
    <header class="TopBar">
      <a class="SteamCloneSide" href="{% url 'main' %}">SteamClone</a>
      {% if user.is_authenticated %}
      <!--output userProfile when is authenticated-->
      <a class="User-circle" href="{% url 'profile' %}"
        ><area class="User-circle"
      /></a>

      {% else %}
      <!--output login and register when not login-->
      <a class="TopBar-login" href="{% url 'login' %}">LOGIN</a>
      <a class="TopBar-register" href="{% url 'register' %}">REGISTER</a>
      {% endif %}
    </header>

    <div>
      <div class="container">
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{message.tags}}">{{message}}</div>
        {% endfor %} {% endif %}
      </div>
      {% block content %} {% endblock content %}
    </div>

    <!--BottomBar == footer-->
    <area class="bottomBar" />
    <footer>
      <a class="bottomBar-home" href="{%  url 'main' %}"
        ><img src="{% static 'steamClone/res/Home.png' %}"
      /></a>
      <a class="bottomBar-library" href="{% url 'profile' %}"
        ><img src="{% static 'steamClone/res/Library.png' %}"
      /></a>
      <a class="bottomBar-cart" href="{% url 'cart' %}"
        ><img src="{% static 'steamClone/res/Cart.png' %}"
      /></a>

      {% if user.is_authenticated %}
      <!--output logout when authenticated-->
      <a class="bottomBar-logout" href="{% url 'main' %}"
        ><img src="{% static 'steamClone/res/Logout.png' %}"
      /></a>
      {% endif %}
    </footer>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
      -->
  </body>
</html>
