{% extends "steamClone/base.html" %}
<!---->
{% load static %}
<!---->
{% block content %}
<!---->

<h1 class="Cart-text">YOUR CART</h1>

<div class="container">
  <div id="myDiv">
    <a class="fragment cart-rec-lo" href="#">
      <div>
        <button class="close" onclick="document.getElementById('myDiv').style.display='none'" >X</button>
        <br>
        <a class="Cart-Games-Pics-1"></a>
        <a class="Cart-Games-Name-1">Name</a>
        <div class="Cart-Games-PriceRec-1"></div>
        <a class="Cart-Games-PriceText-1">Price: THB</a>
      </div>
    </a>
  </div>
</div>

<div class="container">
  <div id="myDiv2">
    <a class="fragment cart-rec-lo2" href="#">
      <div>
        <button class="close" onclick="document.getElementById('myDiv2').style.display='none'" >X</button>
        <br>
        <a class="Cart-Games-Pics-2"></a>
        <a class="Cart-Games-Name-2">Name</a>
        <div class="Cart-Games-PriceRec-2"></div>
        <a class="Cart-Games-PriceText-2">Price: THB</a>
      </div>
    </a>
  </div>
</div>

<!---->
{% endblock content %}
