{% extends "steamClone/base.html" %}
<!---->
{% load crispy_forms_tags %}
<!---->
{% load static %}
<!---->
{% block content %}
<!---->
<!--Background image-->
<img class="img-login" src="{% static 'steamClone/res/LoginBG.png' %}" />
<area class="login-blur" />
<h1 class="login-Text">LOGIN</h1>

<!--LoginBar-->
<area class="loginRectangle" />
<link rel="stylesheet" href="" />
<div
  class="container"
  style="position: absolute; top: 400px; width: 600px; left: 800px"
>
  <form action="" method="POST">
    {% csrf_token %}
    <fieldset class="form-group">{{ form|crispy }}</fieldset>
    <div class="form-group" id="signup-button">
      <button class="btn btn-success">Sign In</button>
    </div>
    <div class="form-group">
      <small class="text-muted ml-3"
        >Don't have an account yet?
        <a href="{% url 'register' %}">Sign Up Today</a></small
      >
    </div>
  </form>
</div>
<!---->
{% endblock content %}
