{% extends "steamClone/base.html" %}
<!---->
{% load static %}
<!---->
{% block content %}
<!---->
<!--RectangleBG-->
<area class="BG-Rect" />
<area class="Profile-BG-Rectangle" />
<!--Info-->
<area class="Profile-user-circle" />
<h1 class="Profile-text-welcome">Welcome ,</h1>

{% if user.is_authenticated %}
<!--output username-->
<h1 class="Profile-text-username">{{user.username}}</h1>
{% else %}
<h1 class="Profile-text-username">Anonymous</h1>
{% endif %}

<h1 class="Games-text">My Games</h1>

<!--Position การวางเกม-->
<a href="Detail.html"><area class="Games-Rectangle-1" /></a>
<a href="Detail.html"><h1 class="Games-Rectangle-Text-1">name</h1></a>
<a href="Detail.html"><area class="Games-Rectangle-2" /></a>
<a href="Detail.html"><h1 class="Games-Rectangle-Text-2">name</h1></a>
<a href="Detail.html"><area class="Games-Rectangle-3" /></a>
<a href="Detail.html"><h1 class="Games-Rectangle-Text-3">name</h1></a>
<a href="Detail.html"><area class="Games-Rectangle-4" /></a>
<a href="Detail.html"><h1 class="Games-Rectangle-Text-4">name</h1></a>
<!---->
{% endblock content %}
