{% extends "steamClone/base.html" %}
<!---->
{% load static %}
<!---->
{% block content %}
<!---->
<!--Background image-->
<img class="img-login" src="{% static 'steamClone/res/RegisterBG.png' %}" />

<!--Register text-->
<h1 class="RegisterText-create">Create an account</h1>
<h1 class="RegisterText-tobe">to be our Enemy</h1>

<!--RegisterBar-->
<rect class="Register-Rectangle"/>

<h1 class="RegisterText-username">USERNAME</h1>
<div class="Register-input-Username">
  <input
    type="text"
    name="q"
    size="51"
    class="form-control form-control-lg"
    placeholder="Type username..."
  />
</div>

<h1 class="RegisterText-password">PASSWORD</h1>
<div class="Register-input-password">
  <input
    type="text"
    name="q"
    size="51"
    class="form-control form-control-lg"
    placeholder="Type password..."
  />
</div>

<h1 class="RegisterText-confirm">CONFIRM PASSWORD</h1>
<div class="Register-input-confirm">
  <input
    type="text"
    name="q"
    size="51"
    class="form-control form-control-lg"
    placeholder="Type password again..."
  />
</div>
<input
  type="submit"
  name="btnK"
  value="REGISTER"
  class="register-button-rectangle"
/>
<!---->
{% endblock content %}
